html, body, div {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
}
body {
	background-color: #6bccfe;
	font-family: "Courier New", Courier, monospace;
	color: white;
}
a {
	color: #daf3ff;
	font-size: 9pt;
}

#loading {
	text-align: center;
	height: 100%;
}
#loading i {
	margin: 1em 0;
}

#content {
	display: none;
	height: 100%;
}

#header {
	padding: 2em 0;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}
.cell {
	display: inline-block;
	width: 33.3%;
	vertical-align: middle;
}
.cell.navigator {
	width: 5%;
}
#time.cell {
	width: 90%;
	letter-spacing: -0.5px;
	color: #daf3ff;
}

.cell:nth-child(3n+1) {
	text-align: left;
	opacity: 0.7;
	text-transform: capitalize;
}
.cell:nth-child(3n) {
	text-align: right;
	opacity: 0.7;
}
.cell:nth-child(3n+2) {
	text-align: center;
}
#tide .cell:nth-child(3n+2) {
	font-weight: bold;
}

#tide .row {
	padding: 5px 0;
}
#tide .row:nth-child(2n+1) {
	background-color: #85d4fd
}


#stationWrapper {
	display: none;
	margin-top: 2em;
	color: #daf3ff;
	text-align: center;
}
#station {
	font-size: 10pt;
}
svg.tideLocationPin {
	fill: #FFF;
}

footer {
	text-align: center;
	height: 4em;
	margin-top: -4em;
}